MONGODB_URI=mongodb://localhost:27017
MONGODB_DB_NAME=workout_agent
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_DEV_MODEL=qwen2.5:0.5b
OLLAMA_EVAL_MODEL=qwen2.5:0.5b
OLLAMA_EMBEDDING_MODEL=nomic-embed-text
API_ENV=development
USE_VECTOR_SEARCH=false
DISABLE_LLM_CALLS=true
